.App {
  height: 100vh;
}

.App-Container {
  background-color: rgb(233, 229, 226);
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: 700;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.Header-App {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 15px;

  font-size: 30px;
}

.Header-App img{
  height: 100px;
  width: 100px;
}

.Header-App img#chart{
  height: 75px;
  width: 75px;
}

.App--MenuActive .chartMenu {
  transform: translateX(0);
}

.chartMenu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 80%;
  background-color: rgb(205, 205, 205);
  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 0.3s ease;
  text-align: center;
}

.chartContainer{
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 213, 213);
  margin: 2% 2% 0% 2%; 
  height: 85%;
  overflow: visible;
  
  justify-content: flex-start;
}

.chartItem{
  display: flex;
  flex-direction: row;
  background-color: rgb(205, 205, 205);
  height: 100px;
  align-items: center;

  margin: 0.5%
}

.chartItem *{
  width: 33%;
  align-items: center;
}


.checkoutContainer{
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 213, 213);
  margin: 2% 2% 2% 2%; 
  height: 15%;
  overflow: visible;
  
  justify-content: center;
  
}

.checkoutItem {
  display: flex;
  flex-direction: row;
  background-color: rgb(205, 205, 205);
  height: 100px;
  align-items: center;

  margin: 0.5%
}

.checkoutItem *{
  margin: 40px;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.Menu {
  display: flex;
  flex-direction: row;

  margin: 15px;
}

.Button {
  background-color: rgb(179, 179, 179);
/*  background-color: rgb(12, 178, 76); */

  border: solid 1px;
  border-radius: 5%;

  margin: 5px;
  
  font-size: 16px;
  font-weight: 600;

  width: 120px;
  height: 50px;
}

.Catalog {
  background-color: none;
  
  display: flex;
  margin: 15px;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

